<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.larry.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".utils.UILApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="家道至简"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:allowBackup="true"
            android:label="家道至简"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:allowBackup="true"
            android:label="Educater"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".songList.SongDetailActivity"
            android:allowBackup="true"
            android:label="Educater"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".media.MusicService" />

        <activity
            android:name=".page.ShowListActivity"
            android:label="@string/title_activity_show_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".page.ShowPanelActivity"
            android:label="@string/title_activity_show_panel"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".page.download.ItemListActivity"
            android:label="我的下载"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".page.download.ItemDetailActivity"
            android:label="我的下载"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>